[submodule "nmnlp"]
	path = nmnlp
	url = https://github.com/izhx/nmnlp.git
[submodule "UniversalPropositions"]
	path = UniversalPropositions
	url = https://github.com/System-T/UniversalPropositions.git
[submodule "streusle"]
	path = streusle
	url = https://github.com/nert-nlp/streusle.git
